body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: 700;
  align-items: center;
  /* justify-content: center; */
  padding-left: 10px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  min-width: 200px;
  /* color: #eee; */
}

.card {
   flex: 1 1 150px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  min-height: 150px;
  min-width: 150px;
    padding: 10px;
}

.main{
  display: flex;
  flex-direction: row;
}

ul{
  list-style-type: none;
  margin-left: 10px;
  padding-left: 10px;
}

li a {
  color: #eee;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;    
  flex-direction: row;
  margin: 10px;
}